h1 {
	background-color: #3aced6;
	padding: 80px;
	margin: 0;
	text-align: center;
}
nav {
	background-color: black;
	overflow: hidden;
}
nav a {
	color: white;
	padding: 20px;
	display: block;
	text-align: center;
	text-decoration: none;
	float: left;
}
nav a:hover {
	background-color: white;
	color: black;
}
table {
  width: 65%;
}
table, th, td {
  border: 1px solid;
}
.flex_container {
	display: flex;
}
.left_flex {
	flex: 30%;
}
.right_flex {
	flex: 70%;
}

footer {
	background-color: black;
	color: white;
	font-size: 18px;
	padding: 14px;
}
footer a {
	color: white;
	text-decoration: none;
}